.row
    .col-md-6
        .card
            .card-header A reactive bootstrap form
            .card-body
                form([formGroup]="signInForm")
                    .form-row
                        .form-group.col-md-6
                            label Email
                            input.form-control(type="email", placeholder="Email", formControlName="email")
                            .invalid-feedback A valid e-mail address is required.
                        .form-group.col-md-6
                            label Password
                            input.form-control(type="password", placeholder="Password", formControlName="password")
                            .invalid-feedback Password is required and must be 6 or more characters.
                    .form-group
                        label Address
                        input.form-control(type="text", placeholder="Address", formControlName="address")
                    .form-row
                        .form-group.col-md-6
                            label State
                            ab-select2(placeholder="Pick an Indian state...", [data]="us_states", 
                                    (selected)="state_changed($event)", #usState="")
                        .form-group.col-md-6
                            label Date
                            ab-datepicker([options]="datepicker_options", #myDate="",
                                    (selected)="date_changed($event)")
                    .btn-group
                        button.btn.btn-primary(type="button", [disabled]="signInForm.status!='VALID'") Sign In
                        button.btn.btn-warning(type="button", *ngIf="!signInForm.untouched", (click)="reset_form()") Reset
                hr
                p Value: {{signInForm.value | json}}
                p Status: {{signInForm.status | json}}
                p Pristine: {{signInForm.pristine | json}}
                p Untouched: {{signInForm.untouched | json}}
    .col-md-6
